{% extends 'base.html' %}
{% block contenido %}
<h2>Registrar Préstamo</h2>
<form method="post">
    Libro:
    <select name="libro_id">
        {% for libro in libros %}
        <option value="{{ libro.id }}">{{ libro.titulo }}</option>
        {% endfor %}
    </select><br>
    Usuario:
    <select name="usuario_id">
        {% for usuario in usuarios %}
        <option value="{{ usuario.id }}">{{ usuario.nombre }}</option>
        {% endfor %}
    </select><br>
    Fecha préstamo: <input type="date" name="fecha_prestamo"><br>
    Fecha devolución: <input type="date" name="fecha_devolucion"><br>
    <input type="submit" value="Registrar">
</form>
{% endblock %}
